.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
}

.chatboxhead {
	background-image:url(../themes/37.jpg);
	padding:7px;
	color: #000;
	border:1px solid #E2E2E2;
}

.chatboxblink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-size: 11px;
	color: #000;
	height:230px;
	width:215px;
	overflow-y:auto;
	overflow-x:hidden;
	padding:4px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 0px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.chatboxtextarea {
	width: 216px;
	height:24px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

.chatboxtextareaselected {

	margin:0;
}

.chatboxmessage {
	margin-left:1em;
	float:left;
	margin-bottom:5px;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-15px;
	width:32px;
	float:left;

}

.chatboxmessagecontent {
	margin-left:5px;
	float:left;
	width:155px;
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;

}

.chatboxtitle {
	float: left;
}